{
  "presets": [
    "env",
    "react",
    ["es2015", { "modules": false }]
  ],
  "plugins": [
    "react-hot-loader/babel",
    "inline-dotenv",
    "transform-runtime",
    "transform-class-properties",
    "transform-decorators-legacy",
    "transform-object-rest-spread",
    "babel-plugin-import-graphql",
    ["module-resolver", {
      "root": ["./src"],
      "alias": {
        "styles": "./styles"
      }
    }]
  ],

  "env": {
    "test": {
      "plugins": [
        "react-hot-loader/babel",
        "inline-dotenv",
        "transform-runtime",
        "transform-class-properties",
        "transform-decorators-legacy",
        "transform-object-rest-spread",
        "babel-plugin-import-graphql"
      ]
    }
  }
}
